{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Статьи</h1>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <h5 class="mb-1">Статья 1</h5>
        <p class="mb-1">Краткое описание статьи 1...</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <h5 class="mb-1">Статья 2</h5>
        <p class="mb-1">Краткое описание статьи 2...</p>
    </a>
</div>
{% endblock %}
