/* Файл: base.css */
/* Расположение: /home/oranta_django_project/static/css/base.css */

/* Основные цвета */
:root {
    --primary-color: #163a86; /* Синий */
    --secondary-color: #ffffff; /* Белый */
    --accent-color: #ff8300; /* Оранжевый */
    --background-color: #f7f7f7; /* Светлый фон */
}

/* Фон для всего сайта */
body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Логотип */
.navbar-brand {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* Стили для навигационной панели */
.navbar {
    background-color: var(--primary-color) !important; /* Синий фон */
    color: var(--secondary-color) !important; /* Белый текст */
}

/* Цвет ссылок в меню */
.navbar .nav-link {
    color: var(--secondary-color) !important; /* Белый текст */
    font-weight: bold;
    opacity: 1;
}

/* Цвет ссылок при наведении */
.navbar .nav-link:hover {
    color: var(--accent-color) !important; /* Оранжевый текст при наведении */
    text-decoration: underline;
}

/* Футер */
.footer {
    background-color: var(--primary-color) !important; /* Темно-синий фон */
    color: var(--secondary-color) !important; /* Белый текст */
    padding: 15px 0;
    font-size: 0.9rem;
}

.footer a {
    color: var(--secondary-color); /* Белые ссылки */
    text-decoration: none;
}

.footer a:hover {
    color: var(--accent-color); /* Оранжевые ссылки при наведении */
    text-decoration: underline;
}

/* Изменение цвета кнопки */
.btn-primary {
    background-color: var(--primary-color); /* Основной синий цвет */
    border-color: var(--primary-color); /* Цвет границы */
    color: var(--secondary-color); /* Белый текст */
}

/* Изменение цвета при наведении */
.btn-primary:hover {
    background-color: var(--accent-color); /* Оранжевый при наведении */
    border-color: var(--accent-color); /* Граница оранжевого цвета */
}

